<!DOCTYPE html>
<html>
<head>
  <title>TonAvenirNet</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>	
	
    
	Interface Admin
	<a href="../devenir_franchises">Nouveau Franchisés</a>
    <a href="../franchises">Franchisés</a>
	<a href="../banieres">Banière</a>
	<a href="../etapes">Etapes</a>
	<a href="../packs">Packs</a>
	<a href="../inscriptionprepaconcours">Inscription Prepa Concours</a>
	<a href="../concours">Concours</a>
	<a href="../temoignages">Temoignages</a>
	<a href="../prepaconcoursecoles">Prepa Concours Ecole</a>
	<a href="../article_presses">Presse</a>
	</br></br>
	
	Pages du site
	<a href="../franchise_ton_avenir/index">franchise</a>
	<a href="../nos_offres_tonavenir/index">Offres</a>
	<a href="../franchise_ton_avenir/index">Francises</a>
	<a href="../nos_services_tonavenir/index">Nos services</a>
	<a href="../nos_offres_tonavenir/index">Nos offres</a>
	<a href="../espace_temoignage_tonavenir/index">Temoignage</a>
	<a href="../espace_presse_tonavenir/index">Presse</a>
	<a href="../nous_contacter_tonavenir/index">Contact</a>
	
	</br></br>
<%= yield %>

</body>
</html>
